<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bodytest"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.bodytest.TestActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.bodytest.ResultActivity"
            android:label="@string/title_activity_result" >
        </activity>
        <activity
            android:name="com.example.bodytest.ChoosebgActivity"
            android:label="@string/title_activity_choosebg" >
        </activity>
        <activity
            android:name="com.example.bodytest.WelcomeActivity"
            android:label="@string/title_activity_welcome" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
